html {
  overflow-x: hidden;
}
body {
  margin: 0px;
}
h1 {
  text-align: center;
}
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}
div {
  width: 32%;
  height: 50%;
}
p {
  font-size: 20px;
  color: white;
}
#a {
  background-image: url(images/meduses1-1024.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#b {
  background-image: url(images/meduses2-1024.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#c {
  background-image: url(images/meduses3-1024.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#d {
  background-image: url(images/meduses4-1024.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#e {
  background-image: url(images/meduses5-1024.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
#f {
  background-image: url(images/meduses6-1024.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 640px) {
  html {
    overflow-x: hidden;
  }
  main {
    display: flex;
    gap: 10px;
  }
  div {
    width: 100%;
    height: 50%;
  }
}
